@page
@model Proiect_Medii_Programare.Pages.Camere.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cameră</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cameră.TipCameră)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cameră.TipCameră)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cameră.PrețPeNoapte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cameră.PrețPeNoapte)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cameră.Descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cameră?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
